.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 8vh;
    color: rgba(43, 88, 118, 1);
    display: block;
margin:  0 auto;
  font-family: "Bungee";
    transition: 0.3s;
  text-align: center;
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  color: black;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
  display: none;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

  }


body {
  background: linear-gradient(to left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.4)),
  url('https://nseyf.github.io/images/background2.jpg') center;
  background-size: cover;
height: 100vh;
}


#bars {
  font-size: 1.5em;
  margin-left: 15px;
  border: 5px solid white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
margin-top: 15px;
  color: white;
position: fixed;
  z-index: 99;
}

.name {
  margin-top: 13vh;
  font-family: "Bungee";
color: black;
display: inline-block;
 padding: 10px;
  color: white;
  letter-spacing: 5px;
  border: 5px solid white;
  font-size: 7vh;

}
h2 {
  text-align: center;
  font-family: "Bungee";
  color: black;
}
.sub {
  color: white;
}
#title {
  text-align: center;
  margin-bottom: 20vh;

}
#intro {
  margin-bottom: 50px;
  border-bottom: 5px solid black;
}
#bioText {
  margin: 0 auto;
  padding: 50px;
}
#bioText h2 {
  color: black;
  width: 100%;
  font-size: 5vh;
  text-align: center;
}
.bio {
    font-size: 2vh;
  text-align: justify;
  font-family: "Open Sans"
}
.row {
  background: white;
  padding-bottom: 90px
}
h1 {
  font-family: "Bungee";
  color: black;
  text-align:center;
  font-size: 4em;
}

#summary {
  text-align: center;
  width: 65%;
  font-size: 5.5vh;
  margin: 0 auto;
  border-bottom: 5px solid black;
  padding-top:20px;
  padding-bottom: 20px;
  border-top: 5px solid black;
}

toFadeIn {
  opacity: 0;
}


#skillTitle {
  margin-top: 50px;
    font-size: 4.5vh;
}

.skillItem {
  list-style-type: none;
  font-family: "Bungee";
  font-size: 4vh;
    color: rgba(78, 67, 118, 1);
display: inline-block;
}

#portfolio {
  font-size: 5vh;
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}


.portfolioCell {
  display: inline-block;
  text-align: center;
  height: 300px;
background: blue;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 2px solid white;
}

.portfolioCell h2 {
  color: white;
  margin-top: 25px;
}

.portfolioCell p {
  color: white;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
.contactMe {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 1.5em;
}
.portfolioLink {
  font-family: "Bungee";
  border: 1px solid white;
  padding: 10px;
  border-radius: 25px;
  color: white;

}

.portfolioLink:hover {
  background: white;
  color: black;
  text-decoration: none;
}
.builtWith {
  width: 100%;
}
.tool {
  background: white;
  display: inline-block;
  margin: 2px;
  padding: 5px;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 15px;
}

.fa-github, .fa-envelope {
  padding: 20px;
  color: white;
}

.fa-github:hover {
  -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
          transform: scale(1.4);
}


.fa-envelope:hover {
  -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
          transform: scale(1.4);
}
#movieSearch {
  background: linear-gradient(to left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.4)),
  url('https://nseyf.github.io/images/moviesearch2.jpg') center;
  background-size: cover;
}
#randomQuoteMachine {
    background: linear-gradient(to left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.4)),
  url('https://nseyf.github.io/images/quotemachine2.jpg') center;
  background-size: cover;
}
#pomodoro {
    background: linear-gradient(to left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.4)),
  url('https://nseyf.github.io/images/pomodorotimer2.jpg') center;
  background-size: cover;
}
#weatherApp {
    background: linear-gradient(to left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.4)),
  url('https://nseyf.github.io/images/weatherapp2.jpg') center;
  background-size: cover;
}
#jQueryDictionary {
    background: linear-gradient(to left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.4)),
  url('https://nseyf.github.io/images/jquerydictionary2.jpg') center;
  background-size: cover;
}
#restaurantTheme {
    background: linear-gradient(to left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.4)),
  url('https://nseyf.github.io/images/restaurant2.jpg') center;
  background-size: cover;
}
    
